{% extends "base.html" %}
{% block content %}

    <div class="ui info  message">
        <i class="close icon"></i>

        <h4 class="header">
            帮助主页
        </h4>
        <p>远程内存取证智能分析系统(概念验证，仅供学术研究)，是基于Flask框架开发的应急响应工具，能够远程实时监控多个客户端，并可以随时对客户端进行内存取证分析。</p>
        <p>该系统集成内存特征提取器VolMemLyzer ，以及自注意编码模型和多种机器学习算法，能够对恶意软件内存特征进行识别和分类，做出初步研判；</p>
        <p>取证研判的结果以报告形式呈现，并且可以直接下载pdf格式的报告</p>
        <h4 class="header">
            主要功能
        </h4>
        <ul class="list">
            <li>客户端实时监控（实时监控客户端主机的状况，包括进程、网络连接、账户、磁盘等信息）
            </li>
            <li>设置取证任务（设置客户端主机的取证任务，可以单次取证或设置周期取证）
            </li>
            <li>查看任务执行状态（查看任务执行状态，完成取证任务后对内存文件进行分析，提取内存特征保存在数据库中）
            </li>
            <li>内存取证分析（自动对取证后的文件进行分析和研判）
            </li>
            <li>客户端下载（下载对应系统类型的客户端程序）
            </li>
        </ul>

    </div>

{% endblock %}




